/*
make background colour navy.
*/
* {
  background-color:#22292F;
  color:white;
  font-family: 'Open Sans', sans-serif;
}

/* Align headings to center. Make text bold and use GOOGLE OPEN SANS*/
h1, h2 {
  text-align: center;
  font-weight:bold;
  text-transform: uppercase;
}

/* format paragraph texts */
p {
  cursor: auto;
  line-height: 30px;
}

/*
Hyperlinks. Remove bullet points. Put them on same line.
*/
ul {
  text-align: center;
}

/*
add a border to buttons
*/
li {
  list-style: none;
  display: inline-block;
  text-transform: capitalize;
}

/* Make input buttons like submit appear clickable */
input {
  cursor:text;
}

select {
  cursor:pointer;
}

/* put image in center with float */
img {
  float: top;
}

/* boxmodel hyperlinks */
.boxmodel {
  border: 0.5px solid black;
  padding: 20px 5px 20px 5px;
}
